@use "./_components";
@use "./_partials";
@use "./_utility";

.list-style-none {
    li {
        list-style: none;
    }
}

.rating{
    i{
        color: #ffc107;
    }
}

.text-decoration-none{
    text-decoration: none;
}
